# Dependencies
node_modules/
project-frontend/node_modules/
project-backend/node_modules/

# Environment variables
.env
.env.*
!.env.example
project-frontend/.env
project-backend/.env

# Production builds
dist/
project-frontend/dist/
project-backend/dist/

# Logs
*.log

# OS and editor files
.DS_Store
.vscode/

cookies.txt
**/cookies.txt